<div class="container-login">
  <mat-card class="mat-card-default">
    <div mat-card-avatar class="mat-card-avatar-image img-profile"></div>
    <mat-card-content>
      <mat-card-title class="mat-card-title-card">Log in to continue.</mat-card-title>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Email" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <mat-error *ngIf="submitted && f.email.errors">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <input matInput placeholder="Password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <mat-error *ngIf="submitted && f.password.errors">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-card-title class="mat-card-title-sub">
          <p [routerLink]="['/register']" class="cursor-pointer">Register</p>
        </mat-card-title>

        <mat-card-actions class="mat-card-actions">
          <button [disabled]="loading || f.email.errors ||  f.password.errors" mat-raised-button color="primary">Sign
            In</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
